<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span><img style="width: 100px;padding-left: 6px"
             src="assets/ew.png"
             class="logo-image" onerror="this.style.display='none'"></span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
